In [12]:
import pandas as pd
import numpy as np

In [5]:
train = pd.read_csv("../kaggle Santander/data/train.csv")

In [6]:
test = pd.read_csv("../kaggle Santander/data/test.csv")

In [7]:
train.shape

(4459, 4993)

In [22]:
def check_nulls(df):
    nulls = df.isnull().sum(axis=0).reset_index()
    nulls.columns = ['column', 'missing']
    nulls = nulls[nulls['missing']>0]
    nulls = nulls.sort_values(by='missing')
    return nulls

In [24]:
check_nulls(train)

Empty DataFrame
Columns: [column, missing]
Index: []

In [85]:
def check_sparsity(df):
    non_zeros_coldf = df.ne(0).sum(axis=0)==0
    non_zeros_col = non_zeros_coldf[non_zeros_coldf == 1]
    non_zeros = non_zeros_col.sum()
    total = df.shape[1]*df.shape[0]
    zeros = total - non_zeros
    sparsity = round(zeros / total * 100,2)
    density = round(non_zeros / total * 100,2)
    print(" Total:",total,"\n Zeros:", zeros, "\n Sparsity [%]: ", sparsity, "\n Density [%]: ", density)
    print("\n Columns with only Zeros: \n", non_zeros_col)

In [27]:
temp = pd.DataFrame({'age': [10,20,30], 'height': [0, 180, 170]})

In [79]:
temp.ne(0).sum(axis=0)==0

age       False
height    False
dtype: bool

In [86]:
check_sparsity(train)

 Total: 22263787
 Zeros: 22263531
 Sparsity [%]:  100.0
 Density [%]:  0.0

 Columns with only Zeros:
 d5308d8bc    True
c330f1a67    True
eeac16933    True
7df8788e8    True
5b91580ee    True
6f29fbbc7    True
46dafc868    True
ae41a98b6    True
f416800e9    True
6d07828ca    True
7ac332a1d    True
70ee7950a    True
833b35a7c    True
2f9969eab    True
8b1372217    True
68322788b    True
2288ac1a6    True
dc7f76962    True
467044c26    True
39ebfbfd9    True
9a5ff8c23    True
f6fac27c8    True
664e2800e    True
ae28689a2    True
d87dcac58    True
4065efbb6    True
f944d9d43    True
c2c4491d5    True
a4346e2e2    True
1af366d4f    True
             ...
e5649663e    True
6c16efbb8    True
9118fd5ca    True
ca8d565f1    True
16a5bb8d2    True
fd6347461    True
f5179fb9c    True
97428b646    True
f684b0a96    True
e4b2caa9f    True
2c2d9f267    True
96eb14eaf    True
cb2cb460c    True
86f843927    True
ecd16fc60    True
801c6dc8e    True
f859a25b8    True
ae846f332    True
2252c7403    True
fb9e07326    True
d196ca1fd    True
a8e562e8e    True
eb6bb7ce1    True
5beff147e    True
52b347cdc    True
4600aadcf    True
6fa0b9dab    True
43d70cc4d    True
408021ef8    True
e29d22b59    True
Length: 256, dtype: bool

In [80]:
t2 = traintrain.ne(0).sum(axis=0)==0

In [82]:
t3 = t2[t2 ==1]